@import 'variables';
#testatalanding {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 600px;
    background-color: $blue;
    border-radius: 0px;
    h1 {
        font-size: 4rem;
        font-weight: bold;
        color: $light;
        display: inline-block;
        background-color: rgba($blue, 1);
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        padding: 20px;
        margin-left: -500px;
        padding-left: 500px;
        margin-bottom: 0;
    }
    h2 {
        font-size: 1.7rem;
        color: black;
        background-color: rgba($light, 1);
        max-width: 45%;
        padding: 20px;
        font-weight: 300;
        strong {
            font-weight: bold;
        }
    }
    @media screen and(max-width: 992px) {
        background-image: none !important;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        min-height: auto;
        text-align: center;
        h1 {
            font-size: 2.3em;
            color: white;
            text-shadow: none;
            margin-bottom: 1rem;
            padding: 0px;
            margin: 1rem 0;
        }
        h2 {
            font-size: 1.2rem;
            background-color: transparent;
            max-width: 100%;
            text-shadow: none;
            padding: 0px;
            margin: 1rem 0;
            strong {
                color: black;
            }
        }
        .btn-primary {
            background-color: $light;
            border-color: $light;
            color: $blue;
        }
    }
}

#istruzioni {
    padding-bottom: 2rem;
    h3 {
        font-size: 1.7rem;
        font-weight: 200;
        strong {
            color: $blue;
        }
    }
}

a {
    color: $blue;
}

.btn-primary {
    background-color: $blue;
    border-color: $blue;
}

fieldset {
    margin: 4rem 0;
    background-color: #eee;
    padding: 2rem 1rem;
    border-radius: 4px;
    position: relative;
    &.blue {
        background-color: $blue;
        a {
            color: $light;
        }
        legend {
            color: $blue;
        }
    }
    @media screen and(max-width: 992px) {
        padding: 2rem 0.5rem;
    }
    legend {
        position: absolute;
        top: -30px;
        font-size: 1.3em;
        color: $grey;
        .istruzioni {
            display: block;
            font-size: 0.85rem;
        }
    }
    &.fieldset-hidden,
    &.fieldset-pneumatici-posteriori {
        display: none;
    }
    &.fieldset_nidificato {
        clear: both;
        display: block;
        margin-bottom: 1em;
        display: block;
        background-color: $light;
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }
}

#toyo {
    background-color: $lightgrey;
}

label.dato {
    width: 20% !important;
    padding: 0.5em 0.25em;
    background-color: $light;
    border: 2px solid $light;
    border-right: 0px;
    color: $grey;
    display: block;
    float: left;
    font-size: .5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    input {
        margin-top: 0.15em;
        margin-bottom: 0.25em;
        padding: 0.25 0.15em;
        color: black;
        text-align: center;
    }
    &-first {
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    &-last {
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 2px solid $light;
    }
}

footer {
    text-align: center;
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style-type: none;
            display: inline-block;
        }
    }
}

#toyo {
    background-color: $blue;
    color: $light;
    .btn-primary {
        background-color: $light;
        border-color: $light;
        color: $blue;
    }
    h3 strong {
        color: black;
    }
}