#testatalanding {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding-top: 6rem;
  padding-bottom: 6rem;
  min-height: 600px;
  background-color: #0062B0;
  border-radius: 0px;
}

#testatalanding h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  background-color: #0062b0;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 20px;
  margin-left: -500px;
  padding-left: 500px;
  margin-bottom: 0;
}

#testatalanding h2 {
  font-size: 1.7rem;
  color: black;
  background-color: white;
  max-width: 45%;
  padding: 20px;
  font-weight: 300;
}

#testatalanding h2 strong {
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  #testatalanding {
    background-image: none !important;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    min-height: auto;
    text-align: center;
  }

  #testatalanding h1 {
    font-size: 2.3em;
    color: white;
    text-shadow: none;
    margin-bottom: 1rem;
    padding: 0px;
    margin: 1rem 0;
  }

  #testatalanding h2 {
    font-size: 1.2rem;
    background-color: transparent;
    max-width: 100%;
    text-shadow: none;
    padding: 0px;
    margin: 1rem 0;
  }

  #testatalanding h2 strong {
    color: black;
  }

  #testatalanding .btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: #0062B0;
  }
}

#istruzioni {
  padding-bottom: 2rem;
}

#istruzioni h3 {
  font-size: 1.7rem;
  font-weight: 200;
}

#istruzioni h3 strong {
  color: #0062B0;
}

a {
  color: #0062B0;
}

.btn-primary {
  background-color: #0062B0;
  border-color: #0062B0;
}

fieldset {
  margin: 4rem 0;
  background-color: #eee;
  padding: 2rem 1rem;
  border-radius: 4px;
  position: relative;
}

fieldset.blue {
  background-color: #0062B0;
}

fieldset.blue a {
  color: #fff;
}

fieldset.blue legend {
  color: #0062B0;
}

@media screen and (max-width: 992px) {
  fieldset {
    padding: 2rem 0.5rem;
  }
}

fieldset legend {
  position: absolute;
  top: -30px;
  font-size: 1.3em;
  color: #c6c6c6;
}

fieldset legend .istruzioni {
  display: block;
  font-size: 0.85rem;
}

fieldset.fieldset-hidden,
fieldset.fieldset-pneumatici-posteriori {
  display: none;
}

fieldset.fieldset_nidificato {
  clear: both;
  display: block;
  margin-bottom: 1em;
  display: block;
  background-color: #fff;
}

fieldset.fieldset_nidificato:after {
  content: "";
  clear: both;
  display: table;
}

#toyo {
  background-color: #eee;
}

label.dato {
  width: 20% !important;
  padding: 0.5em 0.25em;
  background-color: #fff;
  border: 2px solid #fff;
  border-right: 0px;
  color: #c6c6c6;
  display: block;
  float: left;
  font-size: 0.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

label.dato input {
  margin-top: 0.15em;
  margin-bottom: 0.25em;
  padding: 0.25 0.15em;
  color: black;
  text-align: center;
}

label.dato-first {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

label.dato-last {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 2px solid #fff;
}

footer {
  text-align: center;
}

footer ul {
  margin: 0px;
  padding: 0px;
}

footer ul li {
  list-style-type: none;
  display: inline-block;
}

#toyo {
  background-color: #0062B0;
  color: #fff;
}

#toyo .btn-primary {
  background-color: #fff;
  border-color: #fff;
  color: #0062B0;
}

#toyo h3 strong {
  color: black;
}

